$text-color--default: $black;
$text-color--alpha: $gray--80;
$text-color--beta: $gray--50;
$heading-color--alpha: $gray--90;

// Background colors
$background-color--alpha: $gray--90;
$background-color--beta: $gray--40;
